.wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
       
}

.csym015{
    padding: 3rem;
    text-align: center;
    border-top: 1px solid #dfdfdf; 
    border-color: black; 
    background-color: blue;
}

.csym016{
    padding: 3rem;
    text-align: center;
    border-top: 1px solid #dfdfdf; 
    border-color: black;
    background-color: green;
}

.csym017{
    padding: 3rem;
    text-align: center;
    border-top: 1px solid #dfdfdf; 
    border-color: black;
    background-color: red;
}

.csym018{
    padding: 3rem;
    text-align: center;
    border-top: 1px solid #dfdfdf; 
    border-color: black;
    background-color: yellow;
}